#title{
    /* background-color: #ff4c68; */
    background-color: #00d1b2;
}

body{
    font-family: 'Montserrat' ,sans-serif;
}

.brand-caption{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
    color: #fff;
}

.brand-logo{
    font-family: 'Ubuntu' , sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.custom{

    padding-top: 5.5rem;

}

.container-fluid{
    padding: 3% 15% 7%;
}

.download-button{
    margin: 5% 3% 5% 0px;
}


.features-heading,h2,h3{
    font-family: 'Montserrat' , sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}


.features-heading-description,p{
    color: #8f8f8f;
}

.features-list{
    text-align: center;
    padding: 5%;
}

/* overides fontawesome */
.features-icon{
    /* color: #ef8172; */
    color: #4CDEC9;
                        /* .my-nice-button>i { color: black; } */
                        /* This will make any icon that is a direct descendant of your button black. */
    /* font-size: 4rem; */
    margin-bottom: 1rem;
    /* position: absolute;
    top: 5%; */
}
.features-icon:hover{
    /* color: #ff4c68; */
    /* color: #72efc0; */
    color: #00d1b2;
}

/* overide Bootstrap */
.nav-link{
    font-size: 1.2rem;
    font-weight: lighter;
}

.navbar{
    padding: 0px;

}

.nav-item{
    padding-left: 18px;
    padding-right: 18px;
}

.dropdown-item{
    font-size: 1rem;
    font-weight: lighter;
}

.phone{
/* background-color:lightblue; */
    transform:rotate(20deg); /* Equal to rotateZ(45deg) */
/* position: absolute;
top: 100px; */
    width: 60%;
    position: absolute;
    right: 25%;
    z-index: 1;
}

.second-section{
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    z-index: 2;
}

/* founders */

#founders{
    text-align: center;
    background-color: #4CDEC9;
    color: #fff;
}

.founder-text{
    font-family: "Montserrat" , sans-serif;
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.5;
}

.founder-image{
    width: 10%;
    /* border-radius: 100%; */  /* use bootstrap instead by try fixing issues of it */
    margin: 20px;
}

#press{
    background-color: #4CDEC9;
    text-align: center;
    padding-bottom: 3%;
}

.media-image{
    width: 15%;
    margin: 20px 20px 50px;
}

.carousel-item{
    padding: 7% 15%;
}

#pricing{
    padding: 100px;
    text-align: center;
}

.pricing-column{
    padding: 3% 2%;
}

/* MEDIA QUERY BREAKPOINT */

@media (max-width: 1045px) {
    .brand-caption{
        text-align: center;
    }

    .phone{
        position: static;
        transform: rotate(0);
    }
    .custom{
        text-align: center;
    }
}

/* CALL TO ACTION */
.action-call{
    background-color: #4CDEC9;
    text-align: center;
    padding: 7% 15% 3%;
}

.call-to-action-caption{
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
  color: #fff;

}

/* Footer */
.contact-footer{
    background-color: #fff;
    text-align: center;
    padding: 7% 15% 3%;
}

.social{
  padding: 1% 1% 3%;
  color: #000;
}
